In [5]:
import numpy as np

# Carregar o dataset (substitua 'arquivo.txt' pelo nome correto do arquivo)
dataset = np.loadtxt('C:\\Users\\Defen\\Downloads\\space.csv', delimiter=';', dtype=str, encoding='utf-8')

In [33]:
# 1. Porcentagem de missões que deram certo

status = dataset[ : , -1] #acessando a ultima coluna
sucesso = ( np.char.find(status , 'Success') >= 0 )

quant_sucesso = np.sum(sucesso)
total_missoes = dataset.shape[0]
porc_sucesso = (quant_sucesso / total_missoes) * 100

print(f'porcentagem de missoes bem sucedidas :', round(porc_sucesso, 2), '% ' )

porcentagem de missoes bem sucedidas : 89.69 %

In [24]:
# 2. Média de gastos de missões com valores disponíveis (> 0)

custos = [float(linha) for linha in dataset[1:, 6] if float(linha) > 0]
media_gastos = sum(custos) / len(custos) 
print(f'Média de gastos das missões: ', round( media_gastos, 2))

Média de gastos das missões:  153.79

In [26]:
# 3. Número de missões realizadas nos EUA
quantidade_eua = sum(('USA' in local for local in dataset[1:, 2]))

print(f'Número de missões realizadas nos EUA: {quantidade_eua}')

Número de missões realizadas nos EUA: 1344

In [ ]:
# 4. Missão mais cara da SpaceX
spacex_missoes = [linha for linha in dataset[1:] if linha[1] == 'SpaceX' ] # Filtra todas as missões pertencentes à SpaceX

mais_cara = max(spacex_missoes, key=lambda linha: float(linha[6]))
print('Missão mais cara da SpaceX:', mais_cara[4])

Missão mais cara da SpaceX: Falcon Heavy | STP-2

In [32]:
# 5. Empresas e suas quantidades de missões

empresas, quantidades = np.unique(dataset[1:, 1], return_counts=True)
for i in range(len(empresas)):
    print('Empresa:', empresas[i], '-- Quantidade de missões:', quantidades[i])

Empresa: AEB -- Quantidade de missões: 3
Empresa: AMBA -- Quantidade de missões: 8
Empresa: ASI -- Quantidade de missões: 9
Empresa: Arianespace -- Quantidade de missões: 279
Empresa: Arm??e de l'Air -- Quantidade de missões: 4
Empresa: Blue Origin -- Quantidade de missões: 12
Empresa: Boeing -- Quantidade de missões: 136
Empresa: CASC -- Quantidade de missões: 251
Empresa: CASIC -- Quantidade de missões: 5
Empresa: CECLES -- Quantidade de missões: 4
Empresa: CNES -- Quantidade de missões: 8
Empresa: Douglas -- Quantidade de missões: 1
Empresa: EER -- Quantidade de missões: 1
Empresa: ESA -- Quantidade de missões: 13
Empresa: Eurockot -- Quantidade de missões: 13
Empresa: ExPace -- Quantidade de missões: 10
Empresa: Exos -- Quantidade de missões: 4
Empresa: General Dynamics -- Quantidade de missões: 251
Empresa: IAI -- Quantidade de missões: 11
Empresa: ILS -- Quantidade de missões: 46
Empresa: IRGC -- Quantidade de missões: 1
Empresa: ISA -- Quantidade de missões: 13
Empresa: ISAS -- Quantidade de missões: 30
Empresa: ISRO -- Quantidade de missões: 76
Empresa: JAXA -- Quantidade de missões: 7
Empresa: KARI -- Quantidade de missões: 3
Empresa: KCST -- Quantidade de missões: 5
Empresa: Khrunichev -- Quantidade de missões: 1
Empresa: Kosmotras -- Quantidade de missões: 22
Empresa: Land Launch -- Quantidade de missões: 7
Empresa: Landspace -- Quantidade de missões: 1
Empresa: Lockheed -- Quantidade de missões: 79
Empresa: MHI -- Quantidade de missões: 84
Empresa: MITT -- Quantidade de missões: 7
Empresa: Martin Marietta -- Quantidade de missões: 114
Empresa: NASA -- Quantidade de missões: 203
Empresa: Northrop -- Quantidade de missões: 83
Empresa: OKB-586 -- Quantidade de missões: 2
Empresa: OneSpace -- Quantidade de missões: 1
Empresa: RAE -- Quantidade de missões: 2
Empresa: RVSN USSR -- Quantidade de missões: 1777
Empresa: Rocket Lab -- Quantidade de missões: 13
Empresa: Roscosmos -- Quantidade de missões: 55
Empresa: SRC -- Quantidade de missões: 3
Empresa: Sandia -- Quantidade de missões: 1
Empresa: Sea Launch -- Quantidade de missões: 36
Empresa: SpaceX -- Quantidade de missões: 100
Empresa: Starsem -- Quantidade de missões: 1
Empresa: ULA -- Quantidade de missões: 140
Empresa: US Air Force -- Quantidade de missões: 161
Empresa: US Navy -- Quantidade de missões: 17
Empresa: UT -- Quantidade de missões: 5
Empresa: VKS RF -- Quantidade de missões: 201
Empresa: Virgin Orbit -- Quantidade de missões: 1
Empresa: Yuzhmash -- Quantidade de missões: 2
Empresa: i-Space -- Quantidade de missões: 1